/* @import-normalize;
@tailwind base;
@tailwind components; */

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: ui-sans-serif, Helvetica, Roboto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

@layer base {
  :root {
  }
}

@layer components {
  .note-app {
    @apply bg-gray-50
  }

  .container-margin {
    @apply w-full xl:px-[25rem] lg:px-[10rem] sm:px-[8rem] !important
  }

  .home-container {
    @apply flex flex-col items-center bg-gray-50 w-full pb-4 h-full relative px-8 min-h-[calc(100vh-3.5rem)];
  }
  .home-note-container {
    @apply rounded max-w-[900px]  w-full leading-normal;
  }
  
  .back-btn-container {
    @apply flex items-center w-24 rounded-sm absolute top-10 left-10 hover:underline cursor-pointer;
  }
  .back-btn-icon {
    @apply w-8 h-8
  }

  .header {
    @apply text-4xl font-bold max-w-[900px] my-4 text-gray-700 break-all w-[calc(100%-3.5rem)] min-h-[40px];
  }

  .item-header {
    @apply cursor-pointer;
  }

  .limit-text-lenght {
    @apply text-ellipsis whitespace-nowrap overflow-hidden
  }
  .item-header-margin {
    @apply ml-[64px]
  }
  .title {
    @apply text-[.9rem] whitespace-pre-wrap;
  }
  .checked {
    @apply line-through text-gray-500;
  }
  
  .item-container {
    @apply flex items-center relative;
  }
  .item-add-container {
    @apply w-7 h-7 p-1.5 hover:bg-gray-300 cursor-pointer rounded-sm;
  }
  .item-opt-container {
    @apply w-7 h-7 p-1.5 cursor-grab hover:bg-gray-300 rounded-sm;
  }
  .item-opt-active {
    @apply bg-gray-300;
  }
  .note-opt {
    @apply flex opacity-0 w-12;
  }
  .note-container {
    @apply flex w-full bg-gray-50 hover:bg-gray-100 hover:cursor-pointer p-2 items-center mb-1 min-h-[2.5rem]
  }
  .note-title {
    @apply text-base text-black group-hover:text-white font-normal;
  }
  .item-hovered {
    @apply opacity-40 ;
  }
  .item-input {
    @apply p-2 outline-none h-[2.4rem] bg-gray-50 text-[.9rem] flex-1 w-full mb-[.35rem];
  }
  .item-input-margin {
    @apply w-12;
  }
  .item-input-display {
    @apply flex;
  }
  .item-list-margin {
    @apply w-10;
  }
  .item-list-container {
    @apply w-full flex break-all;
  }
  .note-opt-container {
    @apply absolute right-0 z-20 w-12 md:w-40 py-2 mt-2 bg-white rounded-md shadow-xl dark:bg-gray-800;
  }
  .note-opt-item {
    @apply px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white flex items-center cursor-pointer;
  }
  .note-opt-position {
    @apply md:left-[-131px] left-[-28px];
  }
  .note-opt-icon {
    @apply w-4 h-4 mr-2;
  }

  .item-bookmark-container {
    @apply flex w-full text-sm mb-1 py-2;
  }

  .item-bookmark {
    @apply w-full h-36 bg-white border rounded-md hover:cursor-pointer grid grid-cols-3 gap-4;
  }
  .item-bookmark-hover {
    @apply hover:bg-gray-100;
  }
  .item-bookmark-left {
    @apply px-4 align-middle my-auto col-span-2;
  }
  .item-bookmark-right {
    @apply h-auto overflow-hidden;
  }
  .item-bookmark-title {
    @apply font-normal text-base pb-2;
  }
  .item-bookmark-description {
    @apply text-gray-600;
  }
  .item-bookmark-url {
    @apply text-xs;
  }
  .upload-btn {
    @apply h-10 w-full p-2 rounded-md bg-gray-200 my-2;
  }
  .upload-img {
    @apply h-56 w-56;
  }
  .item-drag-hovered {
    @apply border-b-4 border-b-blue-300 pb-1;
  }

  .input-field {
    @apply block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md 
    dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 
    focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40;
  }
  .login-btn {
    @apply w-full px-4 py-2 tracking-wide text-white transition-colors duration-200 transform bg-blue-500 rounded-md hover:bg-blue-400 focus:outline-none focus:bg-blue-400 focus:ring focus:ring-blue-300 focus:ring-opacity-50;
  }
  .login-redirect {
    @apply text-blue-500 focus:outline-none focus:underline hover:underline cursor-pointer;
  }
}