@import-normalize;
@tailwind base;
@tailwind components;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: ui-sans-serif, Helvetica, Roboto;
}

@layer base {
  :root {
  }
}

@layer components {
  .home-container {
    @apply flex flex-col items-center justify-center bg-gray-50 w-full py-8 h-screen relative overflow-hidden;
  }
  .home-note-container {
    @apply overflow-hidden rounded max-w-[900px] w-full leading-normal;
  }
  
  .back-btn-container {
    @apply flex items-center w-24 rounded-sm absolute top-10 left-10 hover:underline cursor-pointer;
  }
  .back-btn-icon {
    @apply w-8 h-8
  }

  .header {
    @apply text-4xl font-bold max-w-[900px] w-full my-4 text-gray-700;
  }
  .item-header-margin {
    @apply ml-[122px]
  }
  .title {
    @apply text-sm leading-[1.1rem];
  }
  .checked {
    @apply line-through text-gray-500;
  }
  
  .item-container {
    @apply flex items-center;
  }
  .item-add-container {
    @apply w-7 h-7 p-1.5 hover:bg-gray-300 cursor-pointer rounded-sm;
  }
  .item-opt-container {
    @apply w-7 h-7 p-1.5 cursor-grab hover:bg-gray-300 rounded-sm;
  }
  .item-opt-active {
    @apply bg-gray-300;
  }
  .note-opt {
    @apply flex mr-2 opacity-0;
  }
  /* .note-container {
    @apply flex w-full bg-white hover:bg-gray-100 hover:cursor-pointer p-4 ease-in duration-150 shadow-lg;
  } */
  .note-container {
    @apply flex w-full bg-white hover:bg-gray-100 hover:cursor-pointer p-4 shadow-lg items-center;
  }
  .note-title {
    @apply text-base text-black group-hover:text-white font-normal;
  }
  .item-hovered {
    @apply opacity-40 ;
  }
  .item-input {
    @apply w-full p-4 outline-none h-12 shadow-lg text-sm mr-[2.3rem];
  }
  .item-input-margin {
    @apply w-[54px] mr-4;
  }
  .item-input-display {
    @apply flex;
  }
  .item-list-margin {
    @apply w-10;
  }
  .item-list-container {
    @apply w-full h-12 flex;
  }
  .note-opt-container {
    @apply absolute right-0 z-20 w-56 py-2 mt-2 overflow-hidden bg-white rounded-md shadow-xl dark:bg-gray-800;
  }
  .note-opt-item {
    @apply px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white flex items-center cursor-pointer;
  }
  .note-opt-position {
    @apply left-[306px];
  }
  .note-opt-icon {
    @apply w-4 h-4 mr-2;
  }
}